/***************************
          Navigation
***************************/
#nav-left, #nav-right {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 15%;
  cursor: pointer;
  z-index: 2; /*This is needed to have naviation fit over the stage*/
}

#nav-left {
  left: 0;
}

#nav-right {
  right: 0;
}

#nav-left:hover, #nav-left:focus {
  background-image: linear-gradient( to left, transparent, rgba(80,80,80,.5));
}

#nav-right:hover,  #nav-right:focus {
    background-image: linear-gradient( to right, transparent, rgba(80,80,80,.5));
}

#nav-left:active {
  background-image: linear-gradient( to left, transparent, rgba(80,80,80,.4));
}

#nav-right:active {
    background-image: linear-gradient( to right, transparent, rgba(80,80,80,.4));
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;

  transform: translate(-50%, -50%);
}

/***************************
        Animation - Cube
***************************/
#stage {
  position: fixed;
  height: 100%;
  width: 100%;

  perspective: 1300;
}

#cube, #shadow {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
  transition-delay: .5s;
  transition: all 2.5s ease ;
  transform-style: preserve-3d;
}

#cube {
  transform: rotateX(-30deg) rotateY(30deg);
  transition: transform 2.5s ease ;
}

#shadow {
  transform: translateY(70vh) rotateX(-30deg) rotateY(30deg) scale(3);
}

#cube .side {
  position: absolute;
  width: inherit;
  opacity: .8;
  border-top: 1px solid rgba(15,15,15, .5);
  border-bottom: 3px solid rgba(15,15,15, .5);
  border-right: 1px solid rgba(15,15,15, .5);
  box-shadow:  0 1px 4px rgba(15,15,15, 1);
}

#cube .front {
  transform: translate3d( 0, 0, 150px);
}

#cube .back {
  transform: translate3d( 0, 0, -150px);
}

#cube .left {
  transform: translateX(-50%) rotateY(90deg);
}

#cube .right {
  transform: translateX(50%) rotateY(90deg);
}

#shadow .bottom {
  position: absolute;
  width: 300px;
  height: 300px;

  background-image: radial-gradient(rgba(15,15,15, .4), rgba(15,15,15, .4) 40%, transparent );
  opacity: 0;
  filter: blur(20px);

  transform: translateY(20px) rotateX(90deg);
  transition: all 2s ease ;
  transition-delay: .5s;
}

h1 {
  position: relative;
  top: 35vh;
  text-align: center;
  opacity: 0;

  transition: all 1s ease;
  transition-delay: 1.5s
}

/************Movement***********/
#cube.move-cube, #shadow.move-shadow {
  transform: translate3d(0, calc(60vh - 150px), 0) rotateX(-30deg) rotateY(-60deg) scale(1);
}

#shadow.move-shadow .bottom {
  opacity: 1;
  filter: blur(1px);
}

h1.move-title {
  opacity: 1;
  transform: translateY(-10vh);
  text-shadow:  1px 1px 6px rgba(255,255,255, 1);
}
