body {
  min-width: 400px;
}

/***************************
          Navigation
***************************/
#nav-left, #nav-right {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 15%;
  cursor: pointer;
  z-index: 2; /*This is needed to have naviation fit over the stage*/
}

#nav-left {
  left: 0;
}

#nav-right {
  right: 0;
}

#nav-left:hover, #nav-left:focus {
  background-image: linear-gradient( to left, transparent, rgba(80,80,80,.5));
}

#nav-right:hover,  #nav-right:focus {
  background-image: linear-gradient( to right, transparent, rgba(80,80,80,.5));
}

#nav-left:active {
  background-image: linear-gradient( to left, transparent, rgba(80,80,80,.4));
}

#nav-right:active {
  background-image: linear-gradient( to right, transparent, rgba(80,80,80,.4));
}

#nav-left .nav-previous, #nav-right .nav-next {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;

  transform: translate(-50%, -50%);
}

/***************************
        Animation - Cube
***************************/
#stage {
  position: fixed;
  height: 100%;
  width: 100%;

  perspective: 1300;
}

#cube, #shadow {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
  transition-delay: .5s;
  transition: all 2.5s ease ;
  transform-style: preserve-3d;
}

#cube {
  transform: rotateX(-30deg) rotateY(30deg);
  transition: transform 2.5s ease ;
}

#shadow {
  transform: translateY(70vh) rotateX(-30deg) rotateY(30deg) scale(3);
}

#cube .side {
  position: absolute;
  width: inherit;
  opacity: .7;
  box-shadow:  0 1px 4px rgba(15,15,15, 1);
  cursor: pointer;
}

#cube .side:hover {
  opacity: 1;
  transition: opacity .3s ease;
}

#cube .side.no-opacity {
  opacity: 1;
}

#cube .side.hide, #shadow.hide {
  opacity: 0;
  transition: opacity .5s ease;
}

#cube .front {
  transform: translate3d( 0, 0, 150px);
}

#cube .back {
  transform: translate3d( 0, 22px, -150px) scaleY(1.35);
  /* scaling and y translation is to fix video size */
}

#cube .left {
  transform: translate(-50%, 20px) rotateY(90deg) scaleY(1.3);
    /* scaling and y translation is to fix video size */
}

#cube .right {
  transform: translateX(50%) rotateY(90deg);
}

#shadow .bottom {
  position: absolute;
  width: 300px;
  height: 300px;

  background-image: radial-gradient(rgba(15,15,15, .4), rgba(15,15,15, .4) 40%, transparent );
  opacity: 0;
  filter: blur(20px);

  transform: translateY(20px) rotateX(90deg);
  transition: all 2s ease ;
  transition-delay: .5s;
}

h1 {
  position: relative;
  top: 25vh;
  text-align: center;
  opacity: 0;

  transition: all 1s ease;
  transition-delay: 1.5s
}

/************Movement***********/
#cube.move-cube-down, #shadow.move-shadow {
  transform: translate3d(0, calc(60vh - 150px), 0) rotateX(-30deg) rotateY(-60deg) scale3d(1,1,1);
}

#cube.move-cube-show-front {
    transform: translate3d(0, calc(60vh - 300px), 0) rotateX(0deg) rotateY(0deg) scale3D(2,2,2);
}

#cube.move-cube-show-back {
    transform: translate3d(0, calc(60vh - 300px), 0) rotateX(0deg) rotateY(0deg) scale3d(2,2,2);
}

#cube.move-cube-show-left {
    transform: translate3d(0, calc(60vh - 300px), 0) rotateX(0deg) rotateY(-90deg) scale3d(2,2,2);
}

#cube.move-cube-show-right {
    transform: translate3d(0, calc(60vh - 300px), 0) rotateX(0deg) rotateY(-90deg) scale3d(2,2,2);
}

#shadow.move-shadow .bottom {
  opacity: 1;
  filter: blur(1px);
}

h1.move-title {
  opacity: 1;
  transform: translateY(-10vh);
  text-shadow:  1px 1px 6px rgba(255,255,255, 1);
}



/*********************************
*   Loading Animation
*********************************/
#loading-video {
  position: absolute;
  left: calc(50%);
  top: 50vh;
  transform: translate( -50%, -75%);
  color:blue;
  cursor: pointer;
}

#loading-video:hover {
    color: black;
    transition: color .8s ease;
}

#loading-video.green {
  color: green;
  transition: color 2.5s ease;
}

#loading-video.hide {
  top: calc(90vh - 50px);
  opacity: 0;
  transition: all .3s linear;
}

#loading-video.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 2s;
}

#loading-spinner {
  position: absolute;
}

h2.replay {
   opacity: 0;
   position: absolute;
   color: white;
   background: white;
   padding-left: 20px;
   padding-right: 20px;
   transform: translateX(-20px);
}

h2.replay.hover {
  opacity: 1;
  color: black;
  transition: color .8s ease;
}
