body {
  min-width: 400px;
}

/***************************
          Navigation
***************************/
#nav-left, #nav-right {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 15%;
  cursor: pointer;
  z-index: 2; /*This is needed to have naviation fit over the stage*/
}

#nav-left {
  left: 0;
}

#nav-right {
  right: 0;
}

#nav-left:hover, #nav-left:focus {
  background-image: linear-gradient( to left, transparent, rgba(80,80,80,.5));
}

#nav-right:hover,  #nav-right:focus {
  background-image: linear-gradient( to right, transparent, rgba(80,80,80,.5));
}

#nav-left:active {
  background-image: linear-gradient( to left, transparent, rgba(80,80,80,.4));
}

#nav-right:active {
  background-image: linear-gradient( to right, transparent, rgba(80,80,80,.4));
}

#nav-left .nav-previous, #nav-right .nav-next {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;

  transform: translate(-50%, -50%);
}

/***************************
        Title
***************************/

#title {
  transform: translateX(15%);
}

@media only screen and (max-width: 400px) {
  #title {
    font-size: 12px;
    transform: translateX(0);
  }
} 

h2.replay {
  margin-top: -20px;
  cursor: pointer;
  transform-origin: center;
}

h2.replay:hover {
  opacity: .7;
}

h2.replay:active {
  opacity: .8;
}

/***************************
        Loading Dots
        https://codepen.io/vkjgr/pen/gbPaVx 
***************************/

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -60%);
  font: 600 8em/300% Verdana;
  color: blue;
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 255, 0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  40% {
    color: blue;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  60% {
    text-shadow:
      .25em 0 0 green,
      .5em 0 0 rgba(0,0,0,0);
    }
  80%, 100% {
    text-shadow:
      .25em 0 0 green,
      .5em 0 0 red;
    }
  }


/***************************
        Animation - Cube
***************************/
#stage {
  width: 100%;
}

#cube, #shadow {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
  transition-delay: .5s;
  transition: all 2.5s ease ;
  transform-style: preserve-3d;
}

#cube {
  transform: rotateX(-30deg) rotateY(30deg);
  transition: transform 2.5s ease ;
}

#shadow {
  transform: translateY(70vh) rotateX(-30deg) rotateY(30deg) scale(3);
}

#cube .side {
  position: absolute;
  width: inherit;
  opacity: .7;
  box-shadow:  0 1px 4px rgba(15,15,15, 1);
  cursor: pointer;
}

#cube .side:hover {
  opacity: 1;
  transition: opacity .3s ease;
}

#cube .side.no-opacity {
  opacity: 1;
}

#cube .side.hide, #shadow.hide {
  opacity: 0;
  transition: opacity .5s ease;
}

#cube .front {
  transform: translate3d( 0, 0, 150px);
}

#cube .back {
  transform: translate3d( 0, 22px, -150px) scaleY(1.35);
  /* scaling and y translation is to fix video size */
}

#cube .left {
  transform: translate(-50%, 20px) rotateY(90deg) scaleY(1.3);
    /* scaling and y translation is to fix video size */
}

#cube .right {
  transform: translateX(50%) rotateY(90deg);
}

#shadow .bottom {
  position: absolute;
  width: 300px;
  height: 300px;

  background-image: radial-gradient(rgba(15,15,15, .4), rgba(15,15,15, .4) 40%, transparent );
  opacity: 0;
  filter: blur(20px);

  transform: translateY(20px) rotateX(90deg);
  transition: all 2s ease ;
  transition-delay: .5s;
}

/************Movement***********/
#cube.move-cube-down, #shadow.move-shadow {
  transform: translate3d(0, calc(50vh - 150px), 0) rotateX(-30deg) rotateY(-60deg) scale3d(1,1,1);
}

#cube.move-cube-show-front {
    transform: translate3d(0, calc(50vh - 300px), 0) rotateX(0deg) rotateY(0deg) scale3D(2,2,2);
}

#cube.move-cube-show-back {
    transform: translate3d(0, calc(50vh - 300px), 0) rotateX(0deg) rotateY(0deg) scale3d(2,2,2);
}

#cube.move-cube-show-left {
    transform: translate3d(0, calc(50vh - 300px), 0) rotateX(0deg) rotateY(-90deg) scale3d(2,2,2);
}

#cube.move-cube-show-right {
    transform: translate3d(0, calc(50vh - 300px), 0) rotateX(0deg) rotateY(-90deg) scale3d(2,2,2);
}

#shadow.move-shadow .bottom {
  opacity: 1;
  filter: blur(1px);
}

